# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
.env.*
.venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# MySQL socket file
mysql.sock

# System files
.DS_Store
Thumbs.db
